.chatbot-message {
    background-color: gainsboro;
    /* Blue */
    color: 3b82f6;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    text-align: left;
    max-width: 60%;
    align-self: flex-start;
}

.human-message {
    background-color: #3b82f6;
    /* Grey */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    text-align: left;
    max-width: 60%;
    align-self: flex-end;
}


#chatbot-history {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 300px;
}

#chatbot-container {
    border-bottom: 1px solid #e8edff;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#chatbot-menu {
    border-bottom: 1px solid #dfe6ff;
    margin-bottom: 1rem;
}

/* 
#spoiler-free-button-toggled {
    background-color: #3b82f6;
    color: white;
} */