{% load i18n sekizai_tags static %}

<div id="progress-select">
  <h4>{% trans "Select Location in Media" %}</h4>
  <select id="book-select" style="width: 200px;"></select>
  <select id="chapter-select" disabled style="width: 200px;"></select>
</div>

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'wiki/select2/js/select2.min.js' %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
  $(document).ready(function () {
    function getBaseWikiPath(pathname) {
      const basePathOptions = ['/book/', '/tv/'];
      let baseWiki = '';

      basePathOptions.some(option => {
        const index = pathname.indexOf(option);
        if (index !== -1) {
          baseWiki = pathname.substring(0, index + option.length);
          return true;
        }
        return false;
      });

      return baseWiki || pathname;
    }

    let firstSelectionValue = '';
    let baseWiki = getBaseWikiPath(window.location.pathname);
    const isBookWiki = baseWiki.includes('/book/');
    let outerSelectionPlaceholder = isBookWiki ? "Select Book" : "Select Season";
    let outerDefaultSearch = isBookWiki ? "Book" : "Season";
    let innerSelectionPlaceholder = isBookWiki ? "Select Chapter" : "Select Episode";
    let innerDefaultSearch = isBookWiki ? "Chapter" : "Episode";

    // Object to store current selections
    let currentProgress = {
      book: '',
      chapter: ''
    };

    // Fetch the user's progress before initializing Select2
    $.ajax({
      url: "_plugin/getprogress/",
      type: "GET",
      data: { 'wiki_id': baseWiki },
      success: function (response) {
        if (response.progress) {
          try {
            currentProgress = JSON.parse(response.progress);
            outerSelectionPlaceholder = currentProgress.book;
            innerSelectionPlaceholder = currentProgress.chapter;
            firstSelectionValue = currentProgress.book.split("wiki:")[1];
          } catch (e) {
            console.error("Error parsing progress JSON:", e);
          }
        }

        // Initialize Select2 after fetching progress
        initializeSelect2();
      },
      error: function (xhr, status, error) {
        console.log("Error fetching progress:", error);
        // Initialize Select2 even if there's an error
        initializeSelect2();
      }
    });

    function initializeSelect2() {
      $('#book-select').select2({
        dropdownAutoWidth: true,
        placeholder: outerSelectionPlaceholder,
        ajax: {
          url: function (params) {
            if (!params.term)
              return "{% url 'wiki:citations_query_urlpath' path=urlpath.path article_id=article.id %}?query=" + outerDefaultSearch + "&wiki=" + baseWiki;
            else
              return "{% url 'wiki:citations_query_urlpath' path=urlpath.path article_id=article.id %}?query=" + params.term + "&wiki=" + baseWiki;
          },
          processResults: function (data) {
            return {
              results: data.map(val => ({ "id": val, "text": val }))
            };
          },
        },
      });

      $('#chapter-select').select2({
        dropdownAutoWidth: true,
        placeholder: innerSelectionPlaceholder,
        ajax: {
          url: function (params) {
            if (!params.term)
              return "{% url 'wiki:citations_query_urlpath' path=urlpath.path article_id=article.id %}?query=" + innerDefaultSearch + "&subwiki=" + firstSelectionValue;
            else
              return "{% url 'wiki:citations_query_urlpath' path=urlpath.path article_id=article.id %}?query=" + params.term + "&subwiki=" + firstSelectionValue;
          },
          processResults: function (data) {
            return {
              results: data.map(val => ({ "id": val, "text": val }))
            };
          },
        },
      });

      // Set initial values if we have them
      if (currentProgress.book) {
        $('#book-select').append(new Option(currentProgress.book, currentProgress.book, true, true)).trigger('change');
        $('#chapter-select').prop('disabled', false);
      }
      if (currentProgress.chapter) {
        $('#chapter-select').append(new Option(currentProgress.chapter, currentProgress.chapter, true, true)).trigger('change');
      }
    }

    $('#book-select').on('select2:select', function (e) {
      $('#chapter-select').val(null).trigger('change').prop('disabled', false);
      firstSelectionValue = e.params.data.id.split("wiki:")[1];
      currentProgress.book = e.params.data.id;

      currentProgress.chapter = ''; // Reset chapter when book changes
    });

    $('#chapter-select').on('select2:select', function (e) {
      currentProgress.chapter = e.params.data.id;
      saveProgress();
    });

    function saveProgress() {
      console.log(currentProgress)
      $.ajax({
        url: "_plugin/saveprogress/",
        type: "POST",
        data: {
          'wiki_id': baseWiki,
          'progress': JSON.stringify(currentProgress),
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function (response) {
          if (response.status === 'success') {
            console.log('User progress updated successfully');
          } else {
            console.log(response);
          }
        },
        error: function () {
          console.log('Error occurred while updating user progress');
        }
      });

    }
  });
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<link rel="stylesheet" href="{% static 'wiki/select2/css/select2.min.css' %}" type="text/css" />
{% endaddtoblock %}

