{% load wiki_tags i18n sekizai_tags static %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static 'wiki/js/chatbot.js' %}">

</script>
{% endaddtoblock %}

<link href="{% static 'wiki/css/chatbot.css' %}" rel="stylesheet">


<div id="chatbot-container">
    <nav id="chatbot-menu" class="navbar navbar-expand-md nav-pills ">
        <ul class="navbar-nav w-75">

            <h1 class="text-3xl font-bold">AI Assistant</h1>
        </ul>


        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <form method="post">
                    {% csrf_token %}
                    <label id="spoiler-free-toggle-label" for="spoiler-free-button" class="px-3 nav-link"
                        style="color:#0c9c8c">Spoiler Free</label>
                    <button id='spoiler-free-button' name="spoiler-free-button">
                    </button>
                </form>

            </li>
            <li class="nav-item">
                <form method="post">
                    {% csrf_token %}
                    <label id="all-context-toggle-label" for="all-context-button" class="px-3 nav-link"
                        style="color:#0c9c8c">All Context</label>
                    <button id='all-context-button' name="all-context-button">
                    </button>
                </form>
            </li>
            <!-- <li class="nav-item px-3">
                <form method="post">

                    <select id="recommend" name="recommend-prompts" style="color:#0c9c8c"
                        class="px-6 py-2 border rounded">
                        <option value="" disabled selected>Recommend</option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                    </select>
                </form>
            </li> -->
            <li class="nav-item px-3">
                <form method="post">

                    <select id="recommend" name="recommend-prompts" style="color:#0c9c8c"
                        class="px-6 py-2 border rounded">
                        <option value="" disabled selected>Personalities</option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                    </select>
                </form>
            </li>
        </ul>

    </nav>

    <div>
        <div id="chatbot-history">

            {% for message in chat_history %}
            <p> {{message}}</p>
            {% endfor %}
        </div>
        <form method="post" id="query-chatbot" class="mt-4 flex">
            {% csrf_token %}
            <textarea class="form-control" type="textarea" id="prompt" name="prompt" rows="3"
                placeholder="Query Chatbot"></textarea>
            <br>
            <button class="btn btn-primary" type="submit" id="message-to-AI">Submit</button>
        </form>
    </div>
</div>