{% load wiki_tags i18n sekizai_tags static %}
{% if selected_tab == "view" and urlpath.parent %}
<div>
    <a class="discussion-dropdown" onclick="toggleDiscussion()">View discussion board for page</a>
    <div id="discussion-content" style="display: none;">
        {% for post in discussion_board_data %}
        <div style="flex-wrap: wrap; max-width: 700px; margin-bottom: 45px;">
            <div style="display: flex; gap:10px; align-items: center;">
                <img src="{{post.pic}}" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover; margin-bottom: 5px">
                <a class="user" onclick="reportDropdown('{{ post.postID }}')" style="margin-bottom: 5px;">{{post.user}}</a>
            </div>
            {% if post.user == user %}
            <div id="{{ post.postID }}" class="dropdown-content">
                <a href="#" onclick="sendReport('Spoiler', {{  article.id }}, {{ post.postID }}); incrementReportBadge(); return false;">Spoiler</a>
                <a href="#" onclick="sendReport('Inaccurate Info', {{  article.id }}, {{ post.postID }}); incrementReportBadge(); return false;">Inaccurate Info</a>
                <a href="#" onclick="sendReport('Inappropriate', {{  article.id }}, {{ post.postID }}); incrementReportBadge(); return false;">Inappropriate</a>
                <a href="#" onclick="sendReport('Delete', {{  article.id }}, {{ post.postID }}); incrementReportBadge(); return false;">Delete</a>
              </div>
            {% else %}
            <div id="{{ post.postID }}" class="dropdown-content">
                <a href="#" onclick="sendReport('Spoiler', {{  article.id }}, {{ post.postID }}); incrementReportBadge(); return false;">Spoiler</a>
                <a href="#" onclick="sendReport('Inaccurate Info', {{  article.id }}, {{ post.postID }}); incrementReportBadge(); return false;">Inaccurate Info</a>
                <a href="#" onclick="sendReport('Inappropriate', {{  article.id }}, {{ post.postID }}); incrementReportBadge(); return false;">Inappropriate</a>
              </div>
            {% endif %}
            <p>{{post.content}}</p>
            <p style="font-size:13px; margin-top: -10px">{{post.date}}</p>
        </div>
        {% endfor %}
        <div style="text-align: center; margin-top: 10px;">
            <input type="hidden" name="csrfmiddlewaretoken" id="csrf-token" value="{{ csrf_token }}">
            <input type="text" id="discussion-input" placeholder="Write your post here..." style="width: 80%; padding: 8px;">
            <button type="button" onclick="submitPost(document.getElementById('discussion-input').value, {{article.id}})">Post</button>
        </div>
    </div>
</div>
{% endif %}
