{% extends "wiki/base.html" %}
{% load wiki_tags i18n sekizai_tags static %}

{% block wiki_contents %}

<head>
    <link rel='stylesheet' href="{%static 'wiki/css/homepage.css' %}">
</head>

<body>



    <div class="homepage-container">
        <div class="image-container">
            <img src="{% static 'wiki/img/full_logo.png' %}" alt="Centered Image">
        </div>
        <div class="dropdowns-container">

        </div>
        <div class="flex flex row">
            <div class="buttons-container flex">
                <button class="button"><a href="{%url 'wiki:root' %}">Root Wiki</a></button>
            </div>
            <!-- <div class="buttons-container flex">
                <button class="button"><a href="{%url 'wiki:agnostic_chatbot' %}">Message The
                        Mentat</a></button>
            </div> -->
        </div>
        {% if urls_dict %}
        <div class="recent-wikis">

            <h2>Recently Visited Pages</h2>

            <div class="flex-container">
                {% for url, wikiPage in urls_dict.items %}
                <div class="card">
                    <a href="{% url 'wiki:get' path=url %}">
                        <div class="card-content">
                            <h3>{{ wikiPage }}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {%endif%}

        <br>

    </div>

    <!-- <div>
        <h1 class="underline text-5xl">Tailwind Test</h1>
    </div> -->
</body>




{% endblock %}